.header__lang-link {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
    opacity: 1;
  }

  @media(max-width: 320px) {
    .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    }
  }

  .header__lang-link:hover {
    opacity:.8;
    transition-duration: 1s;
  }