.cover__subtitle{
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0px 100px 0px 100px ;
  }

@media(max-width: 768px) {
  .cover__subtitle{
    margin: 0px 76px;
  }
}

@media(max-width: 450px) {
  .cover__subtitle{
    margin: 0;
  }
}

@media(max-width: 320px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        margin: 0px 18px;
      }
  }