.cover__subtitle{
    margin: 0;
    font-family: "Inter" Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #fff;
      
  }

@media(max-width: 768px) {
  .cover__subtitle{
    margin: 0 15% 0% 15%;
  }
}

@media(max-width: 320px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        margin: 0;
      }
  }