.lead__image {
    height: 100%;
    width: 100%;
    margin: 0 auto 6px;
    background-size: contain;
    background-repeat: no-repeat;
  }
/*
@media(max-width: 1024px) {
  .lead__image {
    max-height: 580px;
  }
}
*/
/*
@media(max-width: 320px) {
  .lead__image {
    max-height: 200px;
  }
}*/