.cover__background {
  min-height: 198px;
  position: relative;
  text-decoration: none;
  background-image: url(../../../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 245px 312px;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .3;
  z-index: -1;
  background-color:#2A2C2F;
  transition: opacity .3s ease-in-out;
}

.cover__background:hover::after {
  opacity: .8;
}

@media(max-width: 1024px) {
  .cover__background {
    padding: 196px 180px;
  }
}

@media(max-width: 768px) {
  .cover__background {
    padding: 115px 100px;
  }
}


@media(max-width: 320px) {
  .cover__background {
    padding: 0;
    gap: 16px;
  }
}
/*

.cover__background {
  position: relative;
  text-decoration: none;
  background-image: url(../../../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 29px;
  max-height: 740px;
  padding: 0 29% 22% 29%;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .3;
  z-index: -1;
  background-color:#2A2C2F;
  transition: opacity .3s ease-in-out;
}

.cover__background:hover::after {
  opacity: .8;
}

@media(max-width: 1024px) {
  .cover__background {
    height: 640px;
  }
}

@media(max-width: 768px) {
  .cover__background {
    height: 480px;
    padding: 0 16% 2% 16%;
  }
}

@media(max-width: 320px) {
  .cover__background {
    max-height: 200px;
    padding: 0;
    gap: 9px;
  }
}
*/