.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }

@media(max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media(max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media(max-width: 320px) {
  .footer {
    margin-left: 8px;
    max-width: 300px;
    flex-direction: column;
  }
}